<aside class="learn">
    <header>
        <h3>Incoding Framework</h3>
        <span class="source-links">
            <h5>IML Example</h5> 
            <a class="demo-link" href="http://blog.incframework.com/ru/do-action-insert/">Guide</a>,
            <a href="https://github.com/IncodingSoftware/inc-todo">Source</a>     
            <h5>Client template Example</h5> 
            <a class="demo-link" href="http://blog.incframework.com/ru/client-template/">Guide</a>,
            <a href="https://github.com/IncodingSoftware/Template">Source</a>   
            <h5>MVD Example</h5> 
            <a class="demo-link" href="http://blog.incframework.com/ru/model-view-dispatcher/">Guide</a>,
            <a href="https://github.com/IncodingSoftware/MVD">Source</a>   
            <h5>CQRS Example</h5> 
            <a class="demo-link" href="http://blog.incframework.com/ru/cqrs-vs-n-layer/">Guide</a>,
            <a href="https://github.com/IncodingSoftware/CQRS">Source</a>      
            <h5>Repository Example</h5> 
            <a class="demo-link" href="http://blog.incframework.com/ru/cqrs-vs-n-layer/">Guide</a>,
            <a href="https://github.com/IncodingSoftware/Repository">Source</a>       
        </span> 
    </header>
    <hr> 
    <blockquote class="quote speech-bubble">
        <p>Define behaviour of your Ajax dynamic pages with NO Javascript code.</p> <footer> <a href="http://incframework.com">Incoding framework</a> </footer> 
    </blockquote> 
    <hr> 
    <h4>Official Resources</h4>
    <ul>
        <li>
            <a href="http://blog.incframework.com/ru/get-started/">Tutorial</a> 
        </li>  
        <li>
            <a href="http://incframework.com/en-US/TutorialExecutable">API Reference</a> 
        </li>         
        <li>
            <a href="http://incoding.biz/Pages/Portfolio/Portfolio_en.html">Applications built with Incoding framework</a> 
        </li>  
        <li>
            <a href="http://blog.incframework.com">Blog</a> 
        </li>  
        <li>
            <a href="http://incframework.com">Site</a> 
        </li> 
        <li>
            <a href="http://blog.incframework.com/ru/faq">FAQ</a> 
        </li>  
        <li>
            <a href="http://www.techdays.ru/speaker/Wlad">Videos</a> 
        </li>  
    </ul> 
    <h4>Application on source code </h4>
    <ul>
        <li>
            <a href="https://github.com/IncodingSoftware/Inc-Music-Store">Inc music store</a> 
        </li>  
        <li>
            <a href="https://github.com/IncodingSoftware/Browsio">Browsio</a> 
        </li> 
        <li>
            <a href="https://github.com/IncodingSoftware/inc-todo">Inc todo mvc</a> 
        </li>       
    </ul>  
    <h4>Battle</h4>
    <ul>
        <li>
            <a href="http://blog.incframework.com/ru/jqyery-style-vs-iml-style/">IML vs Jqery</a> 
        </li>  
        <li>
            <a href="http://blog.incframework.com/ru/ajax-actionlink-vs-iml/">IML vs Asp.net mvc Ajax</a> 
        </li> 
        <li>
            <a href="http://blog.incframework.com/ru/angularjs-vs-iml/">IML vs AngulaJS</a> 
        </li>       
    </ul>  
    <h4>Community</h4> 
    <ul>      
        <li>
            <a href="https://groups.google.com/forum/?hl=ru#!forum/incoding-framework">Google Groups mailing list</a> 
        </li>         
        <li>
            <a href="https://twitter.com/IncFramework">Incoding framework on Twitter</a> 
        </li> 
        <li>
            <a href="https://www.facebook.com/incframework">Incoding framewokk on Facebook +</a> 
        </li>  
    </ul>  
    <footer>
        <hr> 
        <em>If you have other helpful links to share, or find any of the links above no longer work, please <a href="http://youtrack.incoding.biz/issues/Inc">let us know</a>.</em> 
    </footer>
</aside>